@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins");
html {
  font-size: 62.5%; }

body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 15px;
  background-color: #010115;
  color: white; }

header {
  color: white;
  background-image: url(../images/plantel.jpg);
  background-size: auto; }

.nav {
  background-color: white;
  color: blue;
  font-size: 25px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-right: 15px; }
  .nav li a {
    text-decoration: underline; }

h1 {
  font-style: oblique;
  color: blue;
  font-size: 50px;
  background-color: white;
  display: flex;
  justify-content: center; }

h2 {
  color: white;
  font-size: 25px;
  text-align: left; }

h3 {
  color: white;
  background-color: #476fd5;
  font-size: 20px;
  text-align: left; }

h4 {
  font-size: 15px; }

@keyframes casty {
  0% {
    transform: translate(10px, 0); }
  50% {
    transform: translate(200px, 0); }
  100% {
    transform: translate(0px, 0) rotate(360deg); } }

header
.navbar
.container-fluid
.navbar-collapse
.navbar-nav
.nav-item
.nav-link:hover {
  color: #7eb5a6;
  border-bottom: solid #7eb5a6; }

header
.navbar
.container-fluid
.navbar-collapse
.navbar-nav
.nav-item
.nav-link:hover:active {
  color: #ffce45; }

.margen-abajo {
  margin-bottom: 25px; }

.margen-arriba {
  margin-top: 25px; }

.a-link {
  color: white; }

.margen-header {
  background-color: black; }

.tamaño-multimedia {
  width: 560px;
  height: 315px;
  max-width: 100%; }

.tamaño-logo {
  width: 200px;
  height: 200px;
  max-width: 100%;
  animation-name: casty;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: initial;
  animation-timing-function: ease; }

.imagenes-instalaciones {
  width: 200px;
  height: 200px;
  max-width: 100%; }

.titulos-grandes {
  color: blue;
  font-size: 35px;
  background-color: #106aaa;
  text-align: center; }

@media only screen and (max-width: 600px) {
  body {
    color: red; } }

@media only screen and (min-width: 600px) {
  body {
    color: green; } }

@media only screen and (min-width: 768px) {
  body {
    color: blue; } }

@media only screen and (min-width: 992px) {
  body {
    color: yellow; } }

@media only screen and (min-width: 1200px) {
  body {
    color: white; } }

.card {
  background-color: #94c2ce;
  color: black;
  justify-content: space-between;
  border: solid 5px white;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; }
  .card .card_imagen {
    width: 450px;
    height: 300px;
    max-width: 100%; }
  .card .card_titulo {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center; }
  .card .card_descripcion {
    font-size: 18px;
    margin-bottom: 50px; }
  .card .card_descripcion--precio {
    font-size: 30px;
    margin-bottom: 50px; }

.oferta {
  color: black;
  background-color: chartreuse;
  position: absolute;
  bottom: 110px;
  right: 90px; }

.label-formulario {
  font-size: 18px; }
