@import "variables";
@import "common";
@import "cards";
@import "home";
@import "club";
@import "deportes";
@import "store";
@import "contactos";



header {
  color: $color-white;
  background-image: url(../images/plantel.jpg);
  background-size: auto;
}

h1 {
  font-style: oblique;
  color: blue;
  font-size: 50px;
  background-color: $color-white;
  display: flex;
  justify-content: center;
}

h2 {
  color: $color-white;
  font-size: 25px;
  text-align: left;
}

h3 {
  color: $color-white;
  background-color: rgb(71, 111, 213);
  font-size: 20px;
  text-align: left;
}

h4 {
  font-size: 15px;
}

.label-formulario {
  font-size: 18px;
}

.tamaño-multimedia {
  width: 560px;
  height: 315px;
  max-width: 100%;
}

.tamaño-logo {
  width: 200px;
  height: 200px;
  max-width: 100%;
  animation-name: casty;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: initial;
  animation-timing-function: ease;
}

@keyframes casty {
  0% {
    transform: translate(10px, 0);
  }
  50% {
    transform: translate(200px, 0);
  }
  100% {
    transform: translate(0px, 0) rotate(360deg);
  }
}
header
  .navbar
  .container-fluid
  .navbar-collapse
  .navbar-nav
  .nav-item
  .nav-link:hover {
  color: #7eb5a6;
  border-bottom: solid #7eb5a6;
}
header
  .navbar
  .container-fluid
  .navbar-collapse
  .navbar-nav
  .nav-item
  .nav-link:hover:active {
  color: #ffce45;
}

.imagenes-instalaciones {
  width: 500px;
  height: 500px;
  max-width: 100%;
}

.titulos-grandes {
  color: blue;
  font-size: 35px;
  background-color: rgb(16, 106, 170);
  text-align: center;
}

.card {
  background-color: rgb(148, 194, 206);
  color: black;
  justify-content: space-between;
  border: solid 5px $color-white;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

  .card_imagen {
    width: 450px;
    height: 300px;
    max-width: 100%;
  }

  .card_titulo {
    font-size: 18px;
    margin-bottom: 50px;
    text-align: center;
  }

  .card_descripcion {
    font-size: 18px;
    margin-bottom: 50px;
  }

  .card_descripcion--precio {
    font-size: 30px;
    margin-bottom: 50px;
  }
}
